.card {
    width: 250px;
}

.card-img {
    height: 250px;
    width: 250px;
}

#feature {
    background-image: linear-gradient(0deg, blue, aqua);
}


* {
    scroll-behavior: smooth;
}

#Cart{
    background-image: linear-gradient(282deg, #4B8CE8 0%, #4BE8E8 100%);
}

#Checkout{
    background-image: linear-gradient(282deg, #4B8CE8 0%, #4BE8E8 100%);
}

#card-body{
    width: 100%;
}



